
*{
  margin: 0;
  padding: 0;
  border: 1;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


@font-face {
  font-family: Lato-Regular;
  src: url(fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}


:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-highsuccess: #00efce;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: #rgba(247, 88, 64, 0.4);
  --color-white: #ffffff;
  --color-light: #rgba(255, 255, 255, 0.7);
  --color-black: #000000;
  --color-bg: #222222;
  --color-bg1: #333333;
  --color-bg2: #666666;
  --color-bg3: rgba(10, 10, 10, 0.7);
  --color-bg4: rgba(0, 0, 0, 0.25);
  --color-bg5: #aaaaaa;
  --color-bg6: #888888;
  --color-bg7: #777777;
  --color-bg8: #bbbbbb;
  --color-inputback: #3b3b3b;
  --color-inputborder: #858585;
  --color-dark-gold:  #AD8F00;
  --color-light-gold:  #F7E273;

  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

html {
  font-size: 16px;
  font-family: "Lato-Regular";
  font-weight: 600;
  background-color: var(--color-bg2);
  color: var(--color-white);
}

body {
  background-color: var(--color-bg);
  font-family: "Lato-Regular";
  width: 360px;
  height: 625px;
  margin:  auto;
  /*align-items: center;*/
  border: 1px solid var(--color-black);
  display:  flex;
  flex-direction: column;
}

header {
  position: absolute;
  font-family: "Lato-Regular";
  top: 4rem;
  overflow: hidden;
  height: 35rem; /*4rem*/
  margin-bottom: 1rem;
  width: 358px;
}

.header__container {
  display: grid;
  font-family: "Lato-Regular";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  left: 0;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.container {
  width: var(--container-width-sm);
  font-family: "Lato-Regular";
  margin: auto;
  height: 4rem; /*4rem*/
}


.header__p p {
  font-family: "Lato-Regular";
  margin: 1rem 0 1rem;
  background-color: red;
}


*:focus{
 outline: none;
}


section {
  font-family: "Lato-Regular";
  padding: 1rem 0;
}

section h2 {
  font-family: "Lato-Regular";
  text-align: center;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato-Regular";
  line-height: 1.2;
}

h1 {
  font-family: "Lato-Regular";
  color:  var(--color-dark-gold);
  font-style: italic;
  font-size: 2.4rem;
}

h2 {
  font-family: "Lato-Regular";
  font-size: 2rem;
}

h3 {
  font-family: "Lato-Regular";
  font-size: 1.6rem;
}

h4 {
  font-family: "Lato-Regular";
  font-size: 1.3rem;
}

a {
  font-family: "Lato-Regular";
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.btn {
  font-family: "Lato-Regular";
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
transition: var(--transition);
}

.btn:hover {
  font-family: "Lato-Regular";
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  font-family: "Lato-Regular";
  background: var(--color-danger);
  color: var(--color-white);
}


/* ==================== PHOTO CONTAINER ======================== */


.canvas-container{
  position: relative;
  width: 500px;
  height: 500px;
}
#canvas {
  position: absolute;
  background-color:lightgrey
}
#load {
  position:absolute;
  left:0%;
  top:510px
}
#rotate {
  position:absolute;
  left:33%;
  top:510px
}
#reset {
  position:absolute;
  left:67%;
  top:510px
}
#txt {
  font-family: "Lato-Regular";
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#curchar {
  font-family: "Lato-Regular";
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#title {
  font-family: "Lato-Regular";
  position:absolute;
  left:0%;
  top: 0%
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
#title2 {
  font-family: "Lato-Regular";
  position:absolute;
  left:8%;
  top: 73px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
#icon00 {
  position:absolute;
  left:54%;
  top: 73px
}
#icon0 {
  position:absolute;
  left:60.8%;
  top: 0%
}
#icon1 {
  position:absolute;
  left:0%;
  top: 120px
}
#icon2 {
  position:absolute;
  left:0%;
  top: 180px
}
#icon3 {
  position:absolute;
  left:0%;
  top: 240px
}
#icon4 {
  position:absolute;
  left:0%;
  top: 300px
}
#slider {
  position:absolute;
  transform: rotate(270deg);
  left:133px;
  top: 203px
}
#icon5 {
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  position:absolute;
  left:0px;
  top: 0px
}
#icon6 {
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  position:absolute;
  left:60px;
  top: 56px
}
#myCanvas {
  position:absolute;
  left:44px;
  top: 90px;
  border-radius: 25px;
}
#IDCard {
  border-radius: 25px;
}


#IDCard2 {
  border-radius: 13px;
}

.other {
  font-family: "Lato-Regular";
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */ 
}

/* ==================== SLIDER RECEIVE ======================== */
.slidecontainer2 {
  width: 100%;
  margin-top: 0px;
}

.slidecontainer {
  width: 360px; /* Width of the outside container */
  position: absolute;
  margin-top: -10px;
  margin-left: 10px;
}

.slider2 {
  -webkit-appearance: none;
  width: 337px;
  height: 5px;
  border-radius: 5px;  
  background: var(--color-dark-gold); 
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%; 
  background: var(--color-light-gold);
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--color-light-gold);
  cursor: pointer;
}

/*==================  SLIDER PHOTO  ==========================*/

/* The slider itself */
.slider {
   -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 355px; /* Full-width */ 100%
  height: 90px; /* Specified height */
  margin-top: 0px;
  margin-left: -10px;
  display: inline-block;
  border:1px solid  var(--color-black);
  border-radius:4px;
  outline:none;
  box-sizing:border-box;
  transition:.3s;
  transform: rotate(180deg);
  background:  var(--color-bg2); /* Grey background */
  -webkit-transition: .3s; /* 0.2 seconds transition on hover */
}

/* Mouse-over effects */
.slider:hover {
  /*opacity: 1;  Fully shown on mouse-over */
  /*background: #ADCBE9;*/
  /*border-color:dodgerBlue;
  background-color: lightblue;
  box-shadow:0 0 8px 0 dodgerBlue;*/
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background: var(--color-light-gold); 
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  background: var(--color-dark-gold); 
  cursor: pointer;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 50px; /* Set a specific slider handle width */
  height: 36px; /* Slider handle height */
  background:  var(--color-dark-gold); 
  border:1px solid var(--color-bg7);
  border-radius:5px;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 50px; /* Set a specific slider handle width */
  height: 36px; /* Slider handle height */
  background:  var(--color-dark-gold); /* Green background */
  border:1px solid var(--color-light-gold);
  border-radius:5px;
  cursor: pointer; /* Cursor on hover */
}

div.a {
  font-family: "Lato-Regular";
  background-color: yellow;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari 3-8 */
  transform: rotate(90deg);
  margin-left: 10px;
  margin-top: 40px;
}

/* ==================== IMAGE BUTTONS ======================== */

.image_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  color: var(--color-bg8);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 2rem;
  height: 3rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.imageCold_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  
  color: var(--color-bg7);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 2rem;
  height: 3rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.imageCold_button:hover {
  box-shadow: var(--color-bg3) 0 1px 15px;
  color: var(--color-white);
}

.imageCold2_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  
  color: var(--color-bg7);
  cursor: pointer;
  flex-shrink: 0;
  font-size: 2rem;
  height: 3rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.img {
  width: 250px;
  height: 375px;
  object-fit: contain;
  border-radius: 25px;
}

/* ==================== HYPERLINKS ======================== */

/* unvisited link */
a:link {
  font-family: "Lato-Regular";
  color: var(--color-light-gold);
}

/* visited link */
a:visited {
  font-family: "Lato-Regular";
  color: var(--color-light-gold);
}

/* mouse over link */
a:hover {
  font-family: "Lato-Regular";
  color: var(--color-white);
}

/* selected link */
a:active {
  font-family: "Lato-Regular";
  color: var(--color-light-gold);
}


/* ==================== NAV BAR ======================== */

nav {
  font-family: "Lato-Regular";
  background: var(--color-black);
  width: 100%;
  height: 4rem;
  position: relative;
  top: 0;
  s-index: 11;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.nav__container {
  font-family: "Lato-Regular";
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  font-family: "Lato-Regular";
  display: none;
}

.nav__menu {
  font-family: "Lato-Regular";
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__menu a {
  font-family: "Lato-Regular";
  font-size: 1rem;
  color: var(--color-bg5);
  transition: var(--transition);
}

.nav__menu a:hover {
  color: var(--color-white);
}


/* ==================== BUTTON ======================== */

.main_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  background-image: linear-gradient(92.88deg, #444444 9.16%, #4b4b4b 43.89%, #555555 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--color-bg5);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Lato-Regular";
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  height: 3rem;
  padding: 0 1.0rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.main_button:hover {
  font-family: "Lato-Regular";
  box-shadow: var(--color-bg3) 0 1px 15px;
  color: var(--color-white);
}


.success_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  background-image: linear-gradient(92.88deg, #444444 9.16%, #4b4b4b 43.89%, #555555 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--color-success);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Lato-Regular";
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  height: 3rem;
  padding: 0 1.0rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.success_button:hover {
  box-shadow: var(--color-bg3) 0 1px 15px;
  color: var(--color-highsuccess);
}


.done_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  background-image: linear-gradient(92.88deg, #444444 9.16%, #4b4b4b 43.89%, #555555 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--color-dark-gold);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Lato-Regular";
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  height: 3rem;
  padding: 0 1.0rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.done_button:hover {
  font-family: "Lato-Regular";
  box-shadow: var(--color-bg3) 0 1px 15px;
  color: var(--color-light-gold);
}


.disabled_button {
  /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);*/
  background-image: linear-gradient(92.88deg, #444444 9.16%, #4b4b4b 43.89%, #555555 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--color-bg2);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Lato-Regular";
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  height: 3rem;
  padding: 0 1.0rem;
  text-shadow: var(--color-bg3) 0 3px 8px;
  transition:  var(--transition);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* ================================ RADIOBUTTONS ================================= */


/* The container */
.radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  margin-bottom: 18px;
  cursor: pointer;
  font-family: "Lato-Regular";
  font-size: 16px;
  color: var(--color-bg5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:var(--color-bg2);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
  background-color: var(--color-light-gold);
  transition:  var(--transition);
}

.radiocontainer:hover {
  color: var(--color-white);
  transition:  var(--transition);
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
  background-color: var(--color-dark-gold);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-black);
}


/* ============================= SMALL RADIOBUTTONS ============================== */


/* The container */
.sradiocontainer {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-top: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "Lato-Regular";
  font-size: 12px;
  color: var(--color-bg5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.sradiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.scheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color:var(--color-bg2);
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.sradiocontainer:hover input ~ .scheckmark {
  background-color: var(--color-light-gold);
  transition:  var(--transition);
}

.sradiocontainer:hover {
  color: var(--color-white);
  transition:  var(--transition);
}

/* When the radio button is checked, add a blue background */
.sradiocontainer input:checked ~ .scheckmark {
  background-color: var(--color-dark-gold);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.scheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.sradiocontainer input:checked ~ .scheckmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.sradiocontainer .scheckmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-black);
}


/* ==================== TEXT INPUTS ======================== */

.TextInputContainer
{
  color: var(--color-white);
  background-color: var(--color-inputback); 
  border:1px solid;
  border-color: var(--color-inputborder); 
  outline:none;
  outline-width: 0;
}


.TextInputContainer:hover
{
  border-color: var(--color-white); 
  transition:  var(--transition);
}

.TextInputDisabledContainer
{
  color: var(--color-bg6);
  background: var(--color-bg2);
  border: none;
  outline: none;
}


/* ================================ SCROLLABLE CONTAINER ================================= */


.FixedHeightContainer
{
  float:left;
  height: 37rem;
  width:100%;
  margin-top: 3px;
  padding-left:10px; 
  padding-right:3px; 
  background:# var(--color-bg);
}
.Content
{
  height:28rem;
  overflow:auto;
  background: var(--color-bg);
}


/* ======================================= ICONS ========================================= */


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dmdft');
  src:  url('fonts/icomoon.eot?dmdft#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dmdft') format('truetype'),
    url('fonts/icomoon.woff?dmdft') format('woff'),
    url('fonts/icomoon.svg?dmdft#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-newspaper:before {
  content: "\e904";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-paint-format:before {
  content: "\e90c";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-compass:before {
  content: "\e949";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-drawer:before {
  content: "\e95c";
}
.icon-box-add:before {
  content: "\e95e";
}
.icon-box-remove:before {
  content: "\e95f";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-database:before {
  content: "\e964";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-binoculars:before {
  content: "\e985";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-key:before {
  content: "\e98d";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-bug:before {
  content: "\e999";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-switch:before {
  content: "\e9b6";
}
.icon-power-cord:before {
  content: "\e9b7";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-download2:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-contrast:before {
  content: "\e9d5";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-man:before {
  content: "\e9dc";
}
.icon-man-woman:before {
  content: "\e9de";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-happy2:before {
  content: "\e9e0";
}
.icon-smile:before {
  content: "\e9e1";
}
.icon-smile2:before {
  content: "\e9e2";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-sad2:before {
  content: "\e9e6";
}
.icon-shocked:before {
  content: "\e9f1";
}
.icon-shocked2:before {
  content: "\e9f2";
}
.icon-hipster:before {
  content: "\e9f9";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-eject:before {
  content: "\ea25";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-shuffle:before {
  content: "\ea30";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-numeric-asc:before {
  content: "\ea4a";
}
.icon-sort-numberic-desc:before {
  content: "\ea4b";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
.icon-shift:before {
  content: "\ea4f";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}